{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}

{% block styles %}
.main_content{
    position: relative;
    height: fit-content;
    flex-direction:column;
    padding: 20px;
    align-items: center;
    background: linear-gradient(rgba(201, 246, 230, 0.35),rgba(71, 134, 163, 0.65)), url('https://i.imgur.com/Ix2Q5ua.jpg');
}

main{
    margin-top: 0px;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 3px;
    text-align: center;
    position: relative;
    margin-top: 85px;
    top: 100%;
    height: 30px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: medium;
}

.nav-links {
    display: flex;
    align-items:last baseline;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links a:hover{
    font-size: 18px;
    transition: 0.5s;
}

.nav-links-left {
    margin-right: auto;
}

.nav-links-right {
    margin-left: auto;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.button {
    background-color: #6dbfb8;
    border: solid 2px #282828;
    height:125px;
    width:200px;
    color: black;
    padding: 10px 20px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    font-size: 28px;
    margin: 20px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Metamorphous', cursive;
}

.button:hover{
    font-size: 30px;
    height: 130px;
    color: black;
    background-color: #5eaaa4;
    transition: 0.5s;
}
    
.button:active{
    background-color: #92c3c0;
    transition:0.2s;
}
    
button {
    background-color: #6dbfb8;
    border: solid 2px #282828;
    height: auto;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Metamorphous', cursive;
    margin-top: 10px;
    display: block;
    margin-left: 35%;
}
    
button:hover{
    font-size: 18px;
    font-weight: bold;
    background-color: #5eaaa4;
    transition: 0.5s;
}

button:active{
    background-color: #92c3c0;
    transition:0.2s;
}

h1{
    margin-bottom: 20px;
}

p, span, a{
    font-family: 'Metamorphous', cursive;
    font-size:small;
    display: contents;
}

a{
    font-size: small;
    color: #6dbfb8;
}

a:hover{
    font-size: medium;
    transition: 0.5s;
}
{% endblock %}

{% block nav %}
<header>
    <nav>
      <ul class="nav-links nav-links-left">
        <li><a href="/home">Organizations</a></li>
      </ul>
      {% if user_type == 'Coordinator' %}
      <ul class="nav-links">
        <li><a href="/coordinator">Dashboard</li>
      </ul>
      {%endif%}
      <ul class="nav-links nav-links-right">
        <li><a href="/account">Account</a></li>
        <li><a href="/logout">Log Out</a></li>
      </ul>
    </nav>
</header>
{% endblock %}


{% block content %}
  <div id="button-container">
        <a href="/{{competition}}/results" class="button">View Leaderboard</a>    
        <a href="/{{competition}}/manage-results" class="button">Manage Results</a>
        <br>
        <button onclick="history.back()">Back</button>

</div>
{% endblock %}
