{% extends "layout.html" %}
{% block title %}Codelympics{% endblock %}

{% block styles %}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
  
label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-container label {
    font-size: 14px;
    margin-bottom: 5px;
}

.input-container input {
    border: 1px solid #e80ce4;
    border-radius: 4px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

.login-form{
    margin-top: 4px;
    margin-bottom: 20px;
}

.login-form label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.login-form .input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.login-form .input-container label {
    font-size: 14px;
    margin-bottom: 5px;
}

.login-form .input-container input {
    border: 2px solid #282828;
    border-radius: 50px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Metamorphous', cursive;
    font-weight: bold;
}

.login-form button[type="submit"] {
    background-color: #6dbfb8;
    border: solid;
    border-color:#282828;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Metamorphous', cursive;
    margin-top: 15px;
}

.login-form button[type="submit"]:hover {
    background-color: #3e8e41;
    opacity: 80%;
    transition: 0.5s;
    border-color: #282828;
    padding-left: 23px;
    padding-right: 23px;
    font-size: 18px;
}

#loginImg{
    height: auto;
    width: 70%;
    display: block;
    margin: 0 auto;
}



p, span, a{
    font-family: 'Metamorphous', cursive;
    font-size:small;
    display: contents;
}

a{
    font-size: small;
    color: red;
}

a:hover{
    color: blue;
    font-size: medium;
    transition: 0.5s;
}

{% endblock %}

{% block content %}
<form class="login-form" method="POST" action="/login">
  <div class="input-container">
    <img src="https://imgur.com/48Tx8Ea.png" alt="Username Image" id="loginImg">
    <input type="text" id="username" name="username">
  </div>
  
  <div class="input-container">
    <img src="https://imgur.com/DKqBnpj.png" alt="Password Image" id="loginImg">
    <input type="password" id="password" name="password">
  </div>

  <p>Don't have an account yet?</p>
  <a href="/signup">Sign up</a>
  <span>and let the games commence!</span>

  <button type="submit">Log In!</button>
</form>
{% endblock %}
